.chessboard-container {
  margin: 5rem;
  display: flex;
  justify-content: center;
}
.chessboard-inner-container {
  border: 1px solid #000;
}
.chessboard-row {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  width: fit-content;
}

.chessboard-square {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 5rem;
  cursor: pointer;
  box-sizing: border-box;
}

.dark-square {
  background-color: rgb(1, 119, 24);
}
.light-square {
  background-color: rgb(218, 255, 225);
}

.active-square {
  background: rgb(91, 255, 100);
  background: radial-gradient(
    circle,
    rgba(91, 255, 100, 1) 7%,
    rgba(161, 255, 203, 1) 24%,
    rgba(91, 255, 100, 1) 73%
  );
}
.moveable-square {
  background: rgb(255, 91, 91);
  background: radial-gradient(
    circle,
    rgba(255, 91, 91, 1) 7%,
    rgba(255, 161, 161, 1) 41%,
    rgba(255, 91, 91, 1) 73%
  );
  border: 0.5px solid #131313;
}
.attack-square {
  background: rgb(91, 181, 255);
  background: radial-gradient(
    circle,
    rgba(91, 181, 255, 1) 13%,
    rgba(46, 73, 255, 1) 43%,
    rgba(91, 118, 255, 1) 73%
  );
  border: 0.5px solid #131313;
}
/* Game.tsx stying */
.header-heading {
  font-size: 3rem;
  margin: 0;
  color: #fff;
}
.game-container {
  padding: 0 3rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.game-btn-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.game-btn {
  padding: 1rem 8rem;
  font-size: 1.5rem;
  color: #fff;
  background-color: rgb(1, 119, 24);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.disabled-btn {
  padding: 1rem 8rem;
  font-size: 1.5rem;
  color: #000000;
  background-color: rgb(156, 156, 156);
  border: none;
  border-radius: 5px;
}
.game-btn:hover {
  color: #000;
  background-color: rgb(218, 255, 225);
}

@media screen and (max-width: 1080px) {
  .chessboard-container {
    margin-top: 0;
  }
  .game-container {
    flex-direction: column-reverse;
    padding-top: 4rem;
    gap: 3rem;
  }
}
@media (max-width: 680px) {
  .chessboard-container {
    margin: 0 2rem;
  }
  .chessboard-square {
    height: 3rem;
    width: 3rem;
  }
  .chess-piece {
    width: 2.5rem;
  }
  .header-heading {
    font-size: 2rem;
  }
  .game-container {
    padding: 0 1rem;
    padding-top: 2rem;
    gap: 1rem;
  }
  .game-btn {
    padding: 0.5rem 4rem;
    font-size: 1rem;
  }
  .disabled-btn {
    padding: 0.5rem 4rem;
    font-size: 1rem;
  }
}
